.container-fluid, .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.container-fluid {
    background-color: rgb(0, 132, 255);
    height: 100vh;
}

.trafficTop {
    background-color: black;
    width: 8%;
    height: 20vh;
}

.container {
    background-color: black;
    width: 40%;
    height: 60vh;
    border-radius: 30px;
}

.red-light, .yellow-light, .green-light {
    width: 50%;
    height: 30%;
    border-radius: 50%;
    filter: brightness(80%);
}

.red-light {
    background-color: red;
}

.yellow-light {
    background-color: yellow;
}

.green-light {
    background-color: rgb(5, 201, 5);
}

.selected {
    box-shadow: 0 0 150px rgb(255, 255, 255);
    filter: brightness(100%);
}